
src/tidy/bdir/
Icons/Thumbs.db
src/icons/Thumbs.db
bin/akk.exe
bin/akkUpdater.exe
src/akkUpdater.exe
src/akk_tidy.txt
src/log/0000.log
src/log/0001.log
src/log/scrape.prom

src/test/Brauckhoff/

src/test/akk/
src/test/test.ini

src/udf/BackUp/ArrayEx_old1.au3

src/udf/BackUp/ArrayEx_old2.au3

src/udf/BackUp/Ini_old1.au3

src/test/BackUp/ads_old1.au3

src/akkDataSource.ini

src/stripped/akk_stripped.au3

src/tidy/akk_tidy.txt
