
src/tidy/bdir/
Icons/Thumbs.db
src/icons/Thumbs.db
bin/akk.exe
bin/akkUpdater.exe
src/akkUpdater.exe
src/akk_tidy.txt
src/log/0000.log
src/log/0001.log
src/log/scrape.prom

src/test/Brauckhoff/

src/test/akk/
